NODE_ENV = development
PORT = 8000
DATABASE = yourconnectionstring 
DATABASE_USERNAME = yourusername
DATABASE_PASSWORD = yourpassword
JWT_SECRET = yourjwtsecret
JWT_EXPIRES_IN = 10ms
EMAIL = youremail
EMAIL_PASSWORD = yourapppassword

